.header {
	display: flex;
	justify-content: space-between;
	max-width: 900px;
	margin: auto;
	align-items: center;
}
.header a {
	text-decoration: none;
	color: rgb(24, 24, 24);
	background-color: #cef2ce;
	padding: 10px 20px;
	border-radius: 8px;
}
h1 {
	margin: 10px;
	color: rgb(0, 70, 0);
}
h2 {
	margin: 0;
	color: rgb(0, 46, 0);
}
.title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin-top: 20px;
}

label,
.label-like {
	display: block;
	margin-top: 1.5rem;
	margin-bottom: 2px;
	font-size: 14px;
	color: rgb(142, 141, 141);
	text-align: start;
	padding-left: 1px;
}
input:required + label::after {
	content: " *";
	color: teal;
}
input {
	height: 35px;
	width: -webkit-fill-available !important;
	border: 0.8px solid lightgray;
	border-radius: 3px;
	padding-left: 10px;
}
fieldset.address {
	border: none;
	background: #f8f8f8;
}
fieldset.address legend {
	padding-top: 30px;
	font-weight: 600;
	color: rgb(111, 111, 111);
	margin: -1 !important;
}
.react-datepicker-wrapper {
	width: -webkit-fill-available !important;
}
.react-datepicker.__input-container input {
	width: -webkit-fill-available !important;
}

.submit-form {
	border: none;
	padding: 8px 15px;
	margin: 20px;
	background-color: #0275d8;
	border-radius: 5px;
	color: white;
}
.link-text {
	color: rgb(0, 46, 0);
	text-decoration: none;
	font-weight: 800;
}
